# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/target

/labs/l1/.idea/*
/labs/l2-names
/labs/l6/hadoop-cluster
/labs/l6/flight_data
*.xml
/lectures

*.csv

# PDF file
Online_Exam_Rules(JI)-SU21.pdf
Pledge of Honor（JI）.pdf
s.pdf
SJTU Examination Rules.pdf

# Zip
*.zip
*.bz2

Final CC.pdf
/labs/l7/dataset

